@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  max-height: 90vh;
}

html {
  overflow: hidden;
  bottom: -20px;
}
